<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Data</title>
</head>
<body>
        {% for movie in search_results %}
            <p>Title:{{ movie.title }}</p>
            <p>Release Date:{{ movie.release_date}}</p>
            <p>Genre Id's:{{ movie.genre_ids }}</p>
            <p>Overview:{{ movie.overview}}</p>
            <p>Popularity:{{movie.popularity}}</p>
            <p>Vote Average:{{ movie.vote_average }}</p>
            <p>Vote Count:{{ movie.vote_count}}</p>
            <p>Adult:{{ movie.adult}}</p>
        {% endfor %}
</body>
</html>